---
title: Jordan Bunke - Blog
---
<h1>Blog Posts</h1>

<ul class="uf-list">
    {% for post in site.posts %}
        <li class="post-blurb">
            <div class="top-line">
                <a href="{{ post.url }}" class="headline">{{ post.title }}</a>
                <div class="post-date">{{ post.date | date: "%b %-d, %Y"}}</div>
            </div>
            {% if post.tags != empty %}
                <div class="tags">
                    {% for tag in post.tags %}
                        <!-- TODO: clickable tags that link to a filtered search for posts of that tag -->
                    {% endfor %}
                </div>
            {% endif %}
        </li>


        {% if post != site.posts.last %}
            <hr>
        {% endif %}
    {% endfor %}
</ul>
