---
title: Jordan Bunke - Projects
---
<h1>Projects</h1>

<p class="description">A selection of projects I have worked on that highlight my skills and experience across several disciplines</p>

<hr>

<ul class="uf-list">
    {% assign sorted-projects = site.projects | sort: 'index' %}
    {% for project in sorted-projects %}
        <li class="project-blurb">
            <div class="top-line">
                <a href="{{ project.url }}">{{ project.title }}</a>

                {% assign shortened = project.status | remove: " " %}
                {% assign ey = "" %}
                {% case project.status %}
                    {% when "In development", "Maintained" %}
                        {% assign ey = "present" %}
                    {% else %}
                        {% assign ey = project.end-year %}
                {% endcase %}

                <div class="status" id="{{ shortened | downcase }}">
                    {% if project.start-year == ey %}
                        {{ project.status }} ({{ ey }})
                    {% else %}
                        {{ project.status }} ({{ project.start-year }} - {{ ey }})
                    {% endif %}
                </div>
            </div>
            <p class="blurb_description">{{ project.description }}</p>
        </li>
    {% endfor %}
</ul>
