<nav class="header">
    <div class="section personal">
        <div class="home">
            <a href="{{ site.baseurl }}/">Jordan Bunke</a>
        </div>
        <div class="email">
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
        <div class="social-icons">
            <ul class="uf-list">
                <li>
                    <a class="social-icon" href="https://github.com/jbunke" title="{{ site.github_username }} on GitHub" target="_blank">
                        <img class="unhovered" src="{{ site.baseurl }}/assets/img/social-icons/github-uh.png">
                        <img class="hovered" src="{{ site.baseurl }}/assets/img/social-icons/github-h.png">
                    </a>
                </li>
                <li>
                    <a class="social-icon" href="https://www.linkedin.com/in/jordan-bunke/" title="LinkedIn" target="_blank">
                        <img class="unhovered" src="{{ site.baseurl }}/assets/img/social-icons/linkedin-uh.png">
                        <img class="hovered" src="{{ site.baseurl }}/assets/img/social-icons/linkedin-h.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section site-nav">
        <ul class="uf-list">
            <li>
                <a href="{{ site.baseurl }}/about" 
                {% if page.url contains "/about" %}
                    class="location"
                {% endif %}>About</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/blog" 
                {% if page.url contains "/blog" %}
                    class="location"
                {% endif %}>Blog</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/projects" 
                {% if page.url contains "/projects" %}
                    class="location"
                {% endif %}>Projects</a>
            </li>
        </ul>
    </div>
</nav>
