<div class="content">
    <h1>
        {{ page.title }}

        {% assign title = "Website" %}
        {% assign icon-core = "link" %}
        {% if page.link_icon == "github" %}
            {% capture github-title %}
                {{ page.title }} on GitHub
            {% endcapture %}
            {% assign title = github-title %}
            {% assign icon-core = "github" %}
        {% endif %}

        <a class="social-icon" href="{{ page.link }}" target="_blank" title="{{ title }}">
            <img class="unhovered" src="{{ site.baseurl }}/assets/img/social-icons/{{ icon-core }}-uh.png">
            <img class="hovered" src="{{ site.baseurl }}/assets/img/social-icons/{{ icon-core }}-h.png">
        </a>
    </h1>
    <p class="description">{{ page.description }}</p>

    {% assign shortened = page.status | remove: " " %}
    {% assign ey = "" %}
    {% case page.status %}
        {% when "In development", "Maintained" %}
            {% assign ey = "present" %}
        {% else %}
            {% assign ey = page.end-year %}
    {% endcase %}

    <div class="status" id="{{ shortened | downcase }}">{{ page.status }} ({{ page.start-year }} - {{ ey }})</div>
    
    <hr>

    {{ content }}
</div>
