$bg-color: #e0e0e0;
$link-text-1: #606060;
$link-text-2: #a0a0a0;
$link-text-hover-1: #000000;
$link-text-hover-2: #a0a0e0;
$accent: #000000;

$code-bg: #202020;
$code-text: #c0c0c0;
$scope-punc: #fdc62e;

$indev: #a89f1d;
$released: #427c12;
$maintained: #4caa86;
$inactive: #cf7a18;
