---

---
@import "colors";
@import "fonts";

$desktop-min-w: 768px;
$content-width: min(calc(100vw - 20px), 800px);

html, body {
    height: auto;
    background-color: $bg-color;

    font-family: $plain-text-font;
}

body {
    width: $content-width;
    box-sizing: border-box;

    padding-left: 10px;
    padding-right: 10px;

    margin: 0 auto;
    margin-top: 20px;
}

nav.header {
    display: flex;
    flex-direction: row;

    a {
        text-decoration: none;
        color: $link-text-1;

        &:hover {
            // color: $link-text-hover-1;
            text-decoration: underline;
        }
    }

    .home {
        font-size: 120%;
    }

    .email {
        font-size: 80%;
    }

    .site-nav {
        margin-left: auto;

        ul {
            display: flex;
            flex-direction: column;

            li {
                margin-left: auto;
                padding-bottom: 5px;
            }
        }

        .location {
            font-weight: bold;
        }
    }
}

.social-icon {
    display: inline-block;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;

    img {
        width: 24px;
        height: 24px;
    }

    &:hover .unhovered {
        display: none;
    }

    .hovered {
        display: none;
    }

    &:hover .hovered {
        display: inline-block;
    }
}

.uf-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        float: left;
    }
}

.project-blurb {
    border: 1px solid $accent;
    border-radius: 12px;

    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;

    .top-line {
        display: flex;
        flex-direction: column;
    }

    a {
        font-size: 140%;
        text-decoration: none;
        color: $link-text-1;

        &:hover {
            text-decoration: underline;
        }
    }

    .blurb_description {
        margin-bottom: 0px;
        margin-top: 8px;
    }
}

.post-blurb {
    width: 100%;

    .top-line {
        display: flex;
        flex-direction: row;

        margin-bottom: 4px;
    }

    a.headline {
        // font-size: 140%;
        text-decoration: none;
        color: $link-text-1;

        &:hover {
            text-decoration: underline;
        }
    }

    .post-date {
        width: fit-content;
        margin-left: auto;
        flex-shrink: 0;

        font-style: italic;
    }

    .tags {
        margin-bottom: 4px;
        height: auto;
    }

    .tag {
        box-sizing: border-box;
        padding: 5px;

        background-color: #7aa0be;
        color: $bg-color;
        text-decoration: none;
        font-weight: bold;
    }
}

p img {
    width: 100%;
}

.portrait {
    width: 60%;
    border-radius: 50%;
    margin: auto;
    display: block;
}

h1 {
    margin-bottom: 14px;
}

.description {
    margin-top: 0px;
}

.status {
    font-style: italic;
    font-weight: bold;
}

#indevelopment {
    color: $indev;
}

#maintained {
    color: $maintained;
}

#released {
    color: $released;
}

#inactive {
    color: $inactive;
}

// if desktop
@media only screen and (min-width: $desktop-min-w) {
    nav.header {
        .site-nav {
            ul {
                flex-direction: row;

                li {
                    padding-left: 10px;
                }
            }

            margin-left: auto;
        }
    }
    
    .project-blurb {
        .top-line {
            flex-direction: row;
        }

        .status {
            margin-left: auto;
        }
    }
}
