---
---
@import "colors";
@import "fonts";

.tags {
    margin-bottom: 4px;
    height: auto;

    a.tag {
        display: inline-block;
    }

    .tag {
        width: fit-content;
        height: 24px;
        margin-right: 4px;
        margin-bottom: 4px;
        padding: 3px 6px 0 6px;
        background: $tag-bg;
        color: $tag-text;
        text-decoration: none;
        border-radius: 6px;
    }
}

.toc {
    width: fit-content;
    padding: 10px;

    h2 {
        margin-top: 0px;
    }

    border: 1px solid $accent;
    border-radius: 12px;
}

.content-elem {
    width: fit-content;
}
